# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

env_ta/

.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# pycharm
.idea/*

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
env/**

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# vscode settings
.vscode/**

# Original Source (Dev)
pandas_ta/_wrapper.py

# twopirllc stuff
data/datas.csv
data/GLD_D_tv.csv
data/SPY_5min.csv
data/SPY_1min.csv
data/SPY_D_adxfish.csv
data/SPY_D_lbsz.csv
data/similang-ch.csv
data/TV_5min.csv
data/tulip.csv

examples/cache.sqlite
examples/taplot.py
examples/ChartTA.ipynb
examples/charting.ipynb
examples/ib_trader.ipynb
examples/example2.ipynb
examples/*.csv

setup.cfg
note.md
driver.py
doc.py
bt.ipynb
scratch.ipynb
ta_extension.ipynb
scratch.ipynb
kerasmodeller.ipynb
Charts.ipynb
pandas_pips
reqs.txt
requirements.txt
qd.py
simple.ipynb
ta.json

# Indicator
